# Mode the application runs in. Allowed values: debug, locale, production
MODE=debug

# Redis connection URL
REDIS_URL=redis://localhost:6379

# Telegram Bot Token
BOT_TOKEN=

# Public URL of your application that is accessible from the outside
APP_URL=http://localhost:8000

# Service URL for internal communication
SERVICE_URL=http://localhost:8001

# Optional: Unix socket path for service communication
SERVICE_SOCKET=
